doctype
html
  head
    title #{title} - WWKD
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 WWKD
    .container
      .main-content
        block content
    footer
      p Gospel from the prophet
